<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy;Опознай България 2021</span>
    <br />
    <span class="text-muted"> *Сайтът има единствено обучителна цел. </span>
  </div>
</footer>
